

params {

  //input reads, sample name. Can also be specified in bash
  read1 = 'NG-A3433_CarR_de_novo_libLAJ7476_1.fastq.gz'
  read2 = 'NG-A3433_CarR_de_novo_libLAJ7476_2.fastq.gz'
  sample = 'CarR_illumina'

  // FASTA file containing barcode sequences
  // barcodes must be anchored (i.e., ^ at beginnging of each)
  // Barcodes are assumed to be 5' inline barcodes
  barcodes_fasta = '${projectDir}/barcodes_anchored.fasta'

  // 3' anchor sequence used to orient merged reads with cutadapt
  // Typically the reverse complement of reverse primer or a constant downstream sequence
  // NOTE: '$' anchors the match to the end of the read
  orient_3p_anchor = 'GATCTATGAGCAAAGGAGAAGAAC$'

  // Left flanking sequence immediately upstream of the library region
  // Used together with right_flank to extract the variable region
  left_flank = 'TTTACGGCTAGCTCAGTCCTAGGTACAATGCTAGCGAATTC'

  // Right flanking sequence immediately downstream of the library region
  right_flank = 'GGATCCAGC'

  // Expected length (bp) of the extracted TFBS / library region
  // Reads are discarded unless the extracted region is exactly this length
  tfbs_len = 20

  // Minimum required overlap (bp) when matching flanking regions
  extract_overlap = 9

  // Maximum allowed error rate when matching flanks (fraction)
  // e.g. 0.05 = 5% mismatches allowed
  cutadapt_e = 0.05

  // Minimum overlap required to merge paired-end reads
  flash_min_overlap = 20

  // Maximum overlap allowed when merging reads
  // Should be >= expected insert size
  flash_max_overlap = 250

  // Maximum mismatch density allowed in overlap region
  flash_mismatch = 0.1

  // Phred quality encoding (usually 33 for Illumina)
  flash_phred = 33

  // Number of CPU cores to use
  cpus = 8
  outdir = 'results'

}


process {
  executor = 'local'
}

profiles {
  conda {
    conda.enabled = true
    conda.autoActivate = true
    process.conda = "${projectDir}/environment.yml"
  }
}
